@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  font-family: Inter;
}

body {
  padding: 0;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "ss04", "tnum", "ss08";
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
ul > li {
  text-indent: -11px;
  margin-left: 11px;
}
ul > li:before {
  content: "- ";
}
